<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="events.xsl"?>
<events>
    <event date="2015-12-15">
        <action type="watching">Andrew Montalenti: Beating Python's GIL to Max Out Your CPUs</action>
        <references>
            <reference src="https://www.youtube.com/watch?v=gVBLF0ohcrE" type="source"/>
        </references>
    </event>

    <event date="2015-12-10">
        <action type="watching">Alvaro Videla - What we talk about when we talk about Distributed Systems</action>
        <references>
            <reference src="https://vimeo.com/133349307" type="source"/>
        </references>
    </event>

    <event date="2015-12-09">
        <action type="reading">Python: Generators, Coroutines, Native Coroutines and Async/Await</action>
        <references>
            <reference src="http://masnun.com/2015/11/13/python-generators-coroutines-native-coroutines-and-async-await.html" type="source"/>
        </references>
    </event>

    <event date="2015-12-04">
        <action type="reading">20 cool Clojure functions</action>
        <references>
            <reference src="http://daveyarwood.github.io/2014/07/30/20-cool-clojure-functions/" type="source"/>
        </references>
    </event>

    <event date="2015-12-03">
        <action type="watching">dotGo 2015 - Rob Pike - Simplicity is Complicated</action>
        <references>
            <reference src="https://www.youtube.com/watch?v=rFejpH_tAHM" type="source"/>
        </references>
    </event>
    <event date="2015-12-03">
        <action type="reading">Secondary indexing with Redis</action>
        <references>
            <reference src="http://redis.io/topics/indexes" type="source"/>
        </references>
    </event>

    <event date="2015-12-03">
        <action type="watching">The first 20 hours -- how to learn anything | Josh Kaufman | TEDxCSU</action>
        <references>
            <reference src="https://www.youtube.com/watch?v=5MgBikgcWnY" type="source"/>
        </references>
    </event>

    <event date="2015-12-03">
        <action type="trying">Activity log started! :D</action>
        <references>
            <reference src="https://github.com/joebew42/daily-activity-log" type="source"/>
        </references>
    </event>
</events>